.dashboard-container {
  height: 100%;
  background: white;
  flex-direction: column;
}

.show-group-container {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.show-group {
  background: #4285F4;
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 10px;
  color: white;
  border-radius: 30px;
}

.button-container {
  padding: 30px 30px 0 0;
}

.add-event-button {
  display: flex;
  width: 270px;
  height: 55px;
  position: absolute !important;
  top: 99px !important;
  right: 30px !important;
}

.year-datapicker-container {
  display: flex;
  width: 300px;
  position: absolute;
  top: 98px;
  left: 30px;
}

.month-datapicker-container {
  display: flex;
  width: 300px;
  position: absolute;
  top: 98px;
  left: 30px;
}

.button-text-event-container {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  padding-top: 10px;
  color: white;
}

.button-text-event {
  color: white;
}

.event.brown .card, .event.brown .marker,  .event.brown .inline {
  background-color: brown !important;
  border-color:brown !important;
}
.event.dimgray .card, .event.dimgray .marker,  .event.dimgray .inline {
  background-color: dimgray !important;
  border-color:dimgray !important;
}
.event.darkorange .card, .event.darkorange .marker,  .event.darkorange .inline {
  background-color: darkorange !important;
  border-color:darkorange !important;
}
.event.hotpink .card, .event.hotpink .marker,  .event.hotpink .inline {
  background-color: hotpink !important;
  border-color:hotpink !important;
}
.event.cornflowerblue .card, .event.cornflowerblue .marker,  .event.cornflowerblue .inline {
  background-color: cornflowerblue !important;
  border-color:cornflowerblue !important;
}
.event.slateblue .card, .event.slateblue .marker,  .event.slateblue .inline {
  background-color: slateblue !important;
  border-color:slateblue !important;
}
.event.darkolivegreen .card, .event.darkolivegreen .marker,  .event.darkolivegreen .inline {
  background-color: darkolivegreen !important;
  border-color:darkolivegreen !important;
}
.event.image-event.priority-2 .card {
  width: 450px !important;
  height: 400px !important;
}
.event.text-event.priority-2 .card {
  width: 450px !important;
}
.event.image-event.priority-3 .card {
  width: 350px !important;
  height: 300px !important;
}
.event.text-event.priority-3 .card {
  width: 350px !important;
}



